<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <script type="text/javascript" src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <h1>Chowahua!</h1>
        <div class="container">
            <div class="jumbotron">
                <form target = "self">
                    <input type="search" id='search' autocomplete="off" placeholder="Restaurants..."  />
                    <button onclick="searchText()">Search</button>
                </form>
                <br>
                <br>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Cuisine</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for r in restaurants %}
                    <tr>
                        <td>{{ r.restaurant_name }}</td>
                        <td>{{ r.restaurant_cuisine }}</td>
                        <td>{{ r.restaurant_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% for r in restaurants %}
            <li><a href="Caspian">{{ r.restaurant_name }}</a></li>
            {% endfor %}
            </div>
        </div>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>

