<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <script type="text/javascript" src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
            <!-- <form action="." method="post">{% csrf_token %}
                <div class = "search-wrapper cf"> 
                                    <input id='search' type="text" placeholder = 'Which City?' required="yes" name='searchCity'> 
                                    <button type="submit">Search</button>
                </div>
            </form> -->
            <!-- CONFIGURE RESTAURANT HEADER INFO -->
            <div class="restaurantHeader">
            <div class="restaurantInfo">
                <h1 id='restaurant-name'>{{ restaurant.name }}</h1>
                <span id='restaurant-id' style="visibility: hidden; display: none;">{{ restaurant_id }}</span>
                <div class="restaurantDetails">
                    <div class="address">
                        <span class="streetAddress">{{ restaurant.address }}</span>
                        <span class="locality">{{ restaurant.locality }}</span>
                        <span class="region">{{ restaurant.region }}</span>
                        <span class="postalCode">{{ restaurant.postal_code }}</span>
                    </div> <!-- address -->
                    <div class="phoneNumber">{{ restaurant.phone }}</div>
                </div> <!-- restaurantDetails -->
            </div> <!-- restaurantInfo -->
            </div> <!-- restaurantHeader -->
            
            <!-- BEGIN DISPLAY OF MENU TABLE -->
        <table id="menu_table" class="display">
            <thead>
                <tr>
                    <th>The Menu</th>
                </tr>
            </thead>
            <tbody>
                    {% for dish in restaurant.menu %}
                    <tr>
                        <td>
                            <div class="entry">
                                <div class="menuHeader">
                                    <div class="price">{{ dish.price }}</div>
                                    <span class="title">{{ dish.name }}</span>
                                    <div class="star" data-score={{ dish.avg_rating }}> </div>

                                </div>
                                <div class="description">{{ dish.description }}</div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
            <!-- <div id="star"></div> -->
        </div>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>

