<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <script type="text/javascript" src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
            <div class="restaurantHeader">
            <div class="restaurantInfo">
                <h1>{{ restaurant_name }}</h1>
                <div class="restaurantDetails">
                    <div class="address">
                        <span class="streetAddress">1340 Alder St</span>
                        <span class="locality">Eugene</span>
                        <span class="region">OR</span>
                        <span class="postalCode">97401</span>
                    </div> <!-- address -->
                    <div class="phoneNumber">541-666-1313</div>
                    <div class="cusineType">Middle-Eastern, Mediterranean</div>
                </div> <!-- restaurantDetails -->
            </div> <!-- restaurantInfo -->
            </div> <!-- restaurantHeader -->
                <br>
                <br>
                <!-- test -->
                {{ request }}

                <!-- test -->
        <table id="menu_table" class="display">
            <thead>
                <tr>
                    <th>The Menu</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <div class="entry">
                                <div class="menuHeader">
                                    <div class="price">7.95</div>
                                    <span class="title">Cheeseburger</span>
                                    <div class="star"> </div>
                                </div>
                                <div class="description">Delicious and delecious for the win.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="entry">
                                <div class="menuHeader">
                                    <div class="price">5.00</div>
                                    <span class="title">Hamburger</span>
                                    <div class="star"> </div>
                                </div>
                                <div class="description">Who orders this?</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="entry">
                                <div class="menuHeader">
                                    <div class="price">12.95</div>
                                    <span class="title">Mac N' Cheese With Truffle Oil</span>
                                    <div class="star"> </div>
                                </div>
                                <div class="description">This is definitely not pretentious. Serverd with water on the side in a mason jar.</div>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <br>
            <!-- <div id="star"></div> -->
        </div>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>

